venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

.env
.env.local

.DS_Store

.idea/
.vscode/

node_modules/

*.log

models/
datasets/
backend/weights/

checkpoints/

*.pt
*.pth

coverage/

dist/
build/

frontend/app 18-13-31-537/

